---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <div class="h-[85vh] flex justify-center items-center px-5 mt-5">
    <img src="/this-is-fine.gif" alt="This-is-Fine-gif" width="750" height="750" class="rounded-lg">
  </div>
</Layout>