<article class="text-white/90 flex flex-col justify-center items-center gap-x-8 md:flex-row md:items-start">
  <div class="[&>p]:mb-4 [&>p>strong]:text-teal-200 [&>p>strong]:font-semibold text-pretty">
    <p>
      Me llamo Alejandro Arteaga García pero mis amigos me suelen llamar Arteaga. Conocí el mundo de la programacion al matricularme en Ingeniería Automática, pero mi rumbo cambió. Actualmente soy estudiante de <strong>Ing Informática / Computer Science</strong>.
    </p>
    
    <p>
      Apenas estoy en primer año por problemas personales pero estudié de manera autodidacta <strong>Desarrollo Web</strong>. Es el campo de la programación que en verdad me gusta, pero tengo la seguridad de que mi capacidad de aprendizaje puede ser util para cualquier escena.
    </p>
    
    <p>
      Me gustaria mejorar mis habilidades que aun estan verdes, para bien o para mal, me gjusta aprender sobre todo. <strong>Mi objetivo es claro, <em class="italic">intentar ser mejor que ayer y peor que mañana</em></strong>. Quiero llegar a tener el nivel de habilidad de un gran referente para mi: <strong><em class="italic">
        <a href="https://www.instagram.com/midu.dev/" target="_blank" rel="noopener no referrer">@midudev</a>
      </em></strong>.
    </p>
  </div>
   <img class="size-64 rounded-2xl" src="https://avatars.githubusercontent.com/u/182202069?v=4" alt="Foto de perfil del portfolio">
  
</article>