---
const currentYear = new Date().getFullYear();
---

<footer class="rounded-lg shadow-sm m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center ">© {currentYear} <a href="https://x.com/ale_artg" class="hover:underline">Alejandro Arteaga</a>. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0">
        <li>
            <a href="#about" class="hover:underline me-4 md:me-6">Sobre mi</a>
        </li>
        <li>
            <a href="#projects" class="hover:underline me-4 md:me-6">Proyectos</a>
        </li>
        <li>
            <a href="#experience" class="hover:underline me-4 md:me-6">Experiencia</a>
        </li>
        <li>
            <a href="mailto:alejarteaga2003@gmail.com" 
            target="_blank" 
            rel="noopener noreferrer" 
            class="hover:underline">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
